<div class="container">

  <% if @entry %>
    <h2><%= @entry.title %></h2>
    <h3><%= @entry.author %></h3>
    <p><%= @entry.created_at %></p>
    <p><%= @entry.body %></p>
  <% end %>

  <h4 id="element1"><a href="/entries/<%= @entry.id %>/edit">Edit</a></h4>
  <p id="element2"><%= erb :'entries/_delete', locals: { entry: @entry } %></p>

</div>
