<h1><%= @entry.title %></h1>

<div class="container">
  <p><%= @entry.body %></p>
  <p><%= @entry.author %></p>
</div>

<a href="/entries">Go back to all entries</a>
<a href="/entries/<%= @entry.id %>/edit">Edit Post</a>
<form id="delete" action="/entries/<%= @entry.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete" />
</form>
