<div class="container">
  <h1><%= @entry.title %></h1>
  <p><%= @entry.body %></p>
  <p>Tags:
  <% @entry.tags.each do |tag| %>
    <a href="/tags/<%=tag.id%>"><%= tag.name  %></a>,
  <% end%>
  </p>
    <form action="/entries/delete/<%=@entry.id%>" method="post">
      <input type="submit" name="delete" value="Delete"/>
    </form>
    <form action="/entries/edit/<%=@entry.id%>" method="get">
      <input type="submit" name="edit" value="Edit">
    </form>
</div>
