<div class="container">
  <h2><%= @current_entry.title %></h2>
  <p>
    <strong>Body</strong><br />
    <%= @current_entry.body %>
  </p>
  <p>
    <strong>Tags</strong><br />
    <%= @current_entry.tags.all.pluck(:tag_name).join(", ") %>
  </p>

  <% if @errors != [] && @errors != nil %>
  <h4>Errors:</h4>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>

  <a href='/entry/<%= @current_entry.id %>/edit'>Edit</a>
  <a href='/entry/<%= @current_entry.id %>/delete'>Delete</a>
  <a href='/entry/<%= @current_entry.id %>/new_tag'>Add a tag</a>
  <a href="/">All Entries</a>
</div>
