<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <table>
    <tr>
      <th>File Description</th>
      <th>File Location</th>
    </tr>
    <tr>
      <td>This view file</td>
      <td><code><%= __FILE__.gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The layout file</td>
      <td><code><%= File.expand_path('../layout.erb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The current controller</td>
      <td><code><%= File.expand_path('../../controllers/index.rb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
  </table>

  <form action="/" method="post">
    <input type="text" name="title" placeholder="Enter Title Here">
    <textarea type="text" name="body" placeholder="Enter Body Here"></textarea>
    <input type="text" name="tag" placeholder="Enter Tag Here">
    <input type="submit" value="Submit!">
  </form>

  <br><br><br>

  <table border="thick">
    <tr>
      <th colspan="2">Blog Post</th>
    </tr>
    <% if @posts %>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.body %></td>
        </tr>
        <tr>
          <td colspan="2"><%= post.tags.all.pluck(:tag_name).join(", ") %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
