<div class="container">
  <br><br>

  <form action="/" method="post">
    <div>
      <input type="text" name="title" placeholder="Enter Title Here">
    </div>
    <div>
      <textarea type="text" name="body" placeholder="Enter Body Here"></textarea>
    </div>
    <div>
      <input type="text" name="tag" placeholder="Enter Tag Here">
    </div>
    <div>
      <input type="submit" value="Submit!">
    </div>
  </form>

  <br><br>

  <form action="/search" method="post">
    <input type="text" name="tag_search" placeholder="Search By Tag" />
    <button>Search</button>
  </form>

  <br><br>

  <table border="thick">
    <tr>
      <th colspan="2">Blog Posts</th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
    <% if @posts %>
      <% @posts.each do |post| %>
        <tr>
          <td><a href='/entry/<%= post.id %>'><%= post.title %></a></td>
          <td><%= post.body %></td>
        </tr>
        <tr>
          <td colspan="2"><%= post.tags.all.pluck(:tag_name).join(", ") %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <br><br>
  <% if @errors != [] && @errors != nil %>
    <h4>Errors:</h4>
    <ul>
      <% @errors.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  <% end %>
</div>
