<div class="container">
  <h1>SpaceFeld!</h1>

  <% if defined?(@article) && @article != nil %>
  <h2><%= @article.title %></h2>
  <p><%= @article.article %></p>
    <a href="/edit_entry">Edit This Entry</a>
  <% else %>
    <% @posts.each do |post| %>
    <h2><a href="/?id=<%= post.id %>"> <%= post.title %></a></h2>
    <p><%= post.article %></p>
    <% end %>
  <% end %>

  <a href="/new_entry">Add New Entry</a>
</div>
