<div class="container">
  <h1>Welcome to Anonymous Blog!</h1>

  <% if @entry %>
    <h2><%= @entry.title %></h2>
    <h3><%= @entry.author %></h3>
    <p><%= @entry.created_at %></p>
    <p><%= @entry.body %></p>
  <% end %>

  <a href="/entries/edit/<%= @entry.id %>">Edit This Post</a>
  <br />
  <a href="/entries/delete/<%= @entry.id %>">Delete This Post</a>

</div>
