<div class="container">
  <% @entries.each do |entry|%>
      <h2><a href="/entries/<%= entry.id %>"> <%= entry.title %></a> </h2>
      <p><%= entry.body %></p>
      <% entry.tags.each do |tag| %>
        <a href="/tags/<%=tag.id%>"><%= tag.name  %></a>,
      <% end%>
     <% end %>
</div>
